*{
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
}
.gallery-container {
  width: 70%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
}
ul > li {
  list-style: none;
}
ul > li > img {
  width: 200px;
  vertical-align: top;
}
#lightbox-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s linear;
  z-index: 10;
  /* pointer-events: none; */
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#lightbox-overlay.active {
  opacity: 1;
  pointer-events: auto;
}